Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/
*.dll
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile
*.sln
*.db
*.vcxproj
*.filters
ReadMe.txt
stdafx.h
stdafx.cpp
targetver.h
StdAfx.h
StdAfx.cpp
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb
